{% extends 'registration/login_base.html' %}
{#{% extends 'base.html' %}#}
{% load static %}
{% load widget_tweaks %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.css' %}">
    <style>
        /* button login css*/
        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button {
            min-width: 150px;
            min-height: 10px;
            font-family: 'NotoNaskhB';
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #313133;
            background: #4FD1C5;
            background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
            border: none;
            border-radius: 1000px;
            box-shadow: 4px 4px 8px rgba(79, 209, 197, .64);
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
        }

        button::before {
            content: '';
            border-radius: 1000px;
            min-width: calc(150px + 12px);
            min-height: calc(40px + 12px);
            border: 6px solid #00FFCB;
            box-shadow: 0 0 10px rgba(0, 255, 203, .64);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s ease-in-out 0s;
        }

        .button:hover, .button:focus {
            color: #313133;
            transform: translateY(-6px);
        }

        button:hover::before, button:focus::before {
            opacity: 1;
        }

        button::after {
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 6px solid #00FFCB;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring 1.5s infinite;
        }

        button:hover::after, button:focus::after {
            animation: none;
            display: none;
        }

        @keyframes ring {
            0% {
                width: 30px;
                height: 30px;
                opacity: 1;
            }
            100% {
                width: 200px;
                height: 200px;
                opacity: 0;
            }
        }
    </style>
    <style>
        /* toast rtl message */
        .toast-message {
            direction: rtl;
            text-align: justify;
        }
    </style>
    <style>
        /* animate logo bit write */

        .loader {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .loader-logo {
            overflow: hidden;
            transform: translatey(0px);
            animation: float 3s ease-in-out infinite;
        }

        .loader-logo img {
            width: 100%;
            height: auto;
        }


        @keyframes float {
            0% {
                transform: translatey(0px);
            }
            50% {
                transform: translatey(-20px);
            }
            100% {
                transform: translatey(0px);
            }
        }
    </style>
    <style>
        /* The customcheck */
        .customcheck {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* Hide the browser's default checkbox */
        .customcheck input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 23px;
            width: 23px;
            background-color: #eee;
            border-radius: 5px;
        }

        /* On mouse-over, add a grey background color */
        .customcheck:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .customcheck input:checked ~ .checkmark {
            background-color: #02cfa6;
            border-radius: 5px;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .customcheck input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .customcheck .checkmark:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

    </style>
{% endblock %}
{% block content %}


    <div class="container" style="direction: rtl">
        <section id="formHolder">

            <div class="row">

                <!-- Brand Box -->
                <div class="col-sm-6 brand">
                    <div class="heading">
                        <h3 class="loader-logo">BIT WRITE</h3>
                        <div class="loader">
                            <img width="50%" class="loader-logo" src="{% static 'bw/assets/img/logo_original.png' %}"
                                 alt="">
                        </div>

                        <p style="font-family: NotoNaskh">بیت رایت - فراتر از رایت</p>
                    </div>

                    <div class="success-msg">
                        <p>می تونی اینجا بیای بگی که : لینکی به ایمیل شما برای صحت ایمیل خود ارسال شد ...</p>
                        <p>با سپاس! حال شما یک بیت رایتی هستید!</p>
                        <a href="/" class="profile">مای بیت رایت</a>
                    </div>
                </div>

                <!-- Form Box -->
                <div class="col-sm-6 form">

                    <!-- Login Form -->
                    <div class="login form-peice {% if 'signup' in request.GET %} switched{% endif %}">
                        <form class="login-form" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">نام کاربری</label>
                                <input autocomplete="off" type="username" name="username" id="username"
                                       value="{% if form.username.value %}{{ form.username.value }}{% endif %}"/>
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="password">رمزعبور</label>
                                <input autocomplete="off" type="password" name="password" id="password"
                                       value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="rememberChkBox" class="customcheck">مرا به خاطر بسپار
                                    <input type="checkbox" id="rememberChkBox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>

                            <div class="CTA">
                                <div class="wrap">
                                    <button id="submitLogin" type="submit" class="button">ورود</button>
                                </div>
                                <div style="margin-top: 97px">
                                    <a onclick="switchForm('reset',this)" href="#" class="switch pull-left">فراموشی رمز
                                        عبور</a>
                                    <a onclick="switchForm('signup',this)" href="#" class="switch pull-right">می خواهم
                                        بیت
                                        رایتی شوم!</a>
                                </div>
                            </div>
                        </form>
                    </div><!-- End Login Form -->

                    <!-- Reset Password Form -->
                    <div class="reset form-peice switched">
                        <form class="reset-form" action="{% url 'password_reset' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">آدرس ایمیل</label>
                                <input autocomplete="off" type="email" name="email" id="email" class="email"
                                       value="{% if form.email.value %}{{ form.email.value }}{% endif %}"/>
                                <span class="error"></span>
                            </div>

                            <div class="CTA">
                                <div class="wrap">
                                    <button type="submit" class="button">بازیابی رمز عبور</button>
                                </div>
                                <div style="margin-top: 195px">
                                    <a onclick="switchForm('login',this)" href="#" class="switch pull-left">من بیت رایتی
                                        هستم</a>
                                    <a onclick="switchForm('signup',this)" href="#" class="switch pull-right">می خواهم
                                        بیت
                                        رایتی شوم!</a>
                                </div>
                            </div>
                        </form>
                    </div><!-- Reset Password Form -->

                    <!-- Signup Form -->
                    <div class="signup form-peice {% if not 'signup' in request.GET %} switched{% endif %}">
                        <form class="signup-form" action="#" method="post">

                            <div class="form-group">
                                <label for="emailAdress">آدرس الکترونیکی</label>
                                <input type="email" name="emailAdress" id="emailAdress" class="email">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="pass">رمز عبور</label>
                                <input type="password" name="pass" id="pass" class="pass">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="passwordCon">صحت رمز عبور</label>
                                <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                                <span class="error"></span>
                            </div>

                            <div class="CTA">
                                <div class="wrap">
                                    <button type="submit" class="button">ثبت نام</button>
                                </div>
                                <div style="margin-top: 50px">
                                    <a onclick="switchForm('reset',this)" href="#" class="switch pull-left">فراموشی رمز
                                        عبور</a>
                                    <a onclick="switchForm('login',this)" href="#"
                                       class="switch pull-right">من
                                        بیت رایتی هستم!</a>
                                </div>
                            </div>
                        </form>
                    </div><!-- End Signup Form -->
                </div>
            </div>

        </section>
        <footer>
        </footer>

    </div>
{% endblock content %}

{% block custom_js %}
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'plugins/cookie/jquery-cookie.js' %}"></script>
    <script>

        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"

            }

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    toastr.error("{{ error|escapejs }}");
                {% endfor %}
            {% endif %}


        });
    </script>
    <script>
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                $('#username').siblings('span.error').text('{{error}}').fadeIn().parent('.form-group').addClass('hasError');
            {% endfor %}
        {% endif %}

        {% if form.password.errors %}
            {% for error in form.password.errors %}
                $('#password').siblings('span.error').text('{{error}}').fadeIn().parent('.form-group').addClass('hasError');
            {% endfor %}
        {% endif %}

        {% if form.username.value %}$('#username').siblings('label').addClass('active');{% endif %}
        {% if form.password.value %}$('#password').siblings('label').addClass('active');{% endif %}


        /*global $, document, window, setTimeout, navigator, console, location*/
        $(document).ready(function () {

            'use strict';

            var usernameError = true,
                emailError = true,
                passwordError = true,
                passConfirm = true;

            // Detect browser for css purpose
            if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
                $('.form form label').addClass('fontSwitch');
            }

            // Label effect
            $('input').focus(function () {

                $(this).siblings('label').addClass('active');
            });


            // Form validation
            $('input').blur(function () {
                if ($('#username').val().length > 0) {
                    $('#username').siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                }

                if ($('#password').val().length > 0) {
                    $('#password').siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                }

                // User Name
                if ($(this).hasClass('name')) {
                    if ($(this).val().length === 0) {
                        $(this).siblings('span.error').text('Please type your full name').fadeIn().parent('.form-group').addClass('hasError');
                        usernameError = true;
                    } else if ($(this).val().length > 1 && $(this).val().length <= 6) {
                        $(this).siblings('span.error').text('Please type at least 6 characters').fadeIn().parent('.form-group').addClass('hasError');
                        usernameError = true;
                    } else {
                        $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                        usernameError = false;
                    }
                }
                // Email
                if ($(this).hasClass('email')) {
                    if ($(this).val().length == '') {
                        $(this).siblings('span.error').text('Please type your email address').fadeIn().parent('.form-group').addClass('hasError');
                        emailError = true;
                    } else {
                        $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                        emailError = false;
                    }
                }

                // PassWord
                if ($(this).hasClass('pass')) {
                    if ($(this).val().length < 8) {
                        $(this).siblings('span.error').text('Please type at least 8 charcters').fadeIn().parent('.form-group').addClass('hasError');
                        passwordError = true;
                    } else {
                        $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                        passwordError = false;
                    }
                }

                // PassWord confirmation
                if ($('.pass').val() !== $('.passConfirm').val()) {
                    $('.passConfirm').siblings('.error').text('Passwords don\'t match').fadeIn().parent('.form-group').addClass('hasError');
                    passConfirm = false;
                } else {
                    $('.passConfirm').siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                    passConfirm = false;
                }

                // label effect
                if ($(this).val().length > 0) {
                    $(this).siblings('label').addClass('active');
                } else {
                    $(this).siblings('label').removeClass('active');
                }
            });


            // Form submit
            $('form.signup-form').submit(function (event) {
                event.preventDefault();

                if (usernameError == true || emailError == true || passwordError == true || passConfirm == true) {
                    $('.name, .email, .pass, .passConfirm').blur();
                } else {
                    $('.signup, .login').addClass('switched');

                    setTimeout(function () {
                        $('.signup, .login').hide();
                    }, 700);
                    setTimeout(function () {
                        $('.brand').addClass('active');
                    }, 300);
                    setTimeout(function () {
                        $('.heading').addClass('active');
                    }, 600);
                    setTimeout(function () {
                        $('.success-msg p').addClass('active');
                    }, 900);
                    setTimeout(function () {
                        $('.success-msg a').addClass('active');
                    }, 1050);
                    setTimeout(function () {
                        $('.form').hide();
                    }, 700);
                }
            });

            // Reload page
            $('a.profile').on('click', function () {
                location.reload(true);
            });


        });

        // form switch
        function switchForm(data, self) {
            $(self).parents('.form-peice').addClass('switched')
            $('.' + data).removeClass('switched')
        }

        fillByMemory()
        $('#submitLogin').on('click', function () {

            if ($('#rememberChkBox').val() && $('#username').val() && $('#password').val()) {
                rememberMe();
            }
        });

        function rememberMe() {
            $.cookie('id', $('#username').val());
            $.cookie('password', $('#password').val());
            $.cookie('remBox', $('#rememberChkBox').val());

        }

        function deleteRememberMe() {
            /*
                delete cookie
            */
            $.removeCookie("id");
            $.removeCookie("password");
            $.removeCookie("remBox");
        }

        function fillByMemory() {
            if (!!$.cookie('id')) {
                $('#username').val($.cookie('id'));
                $('#username').siblings('label').addClass('active')
            }


            if (!!$.cookie('password')) {
                $('#password').val($.cookie('password'));
                $('#password').siblings('label').addClass('active')
            }


            if (!!$.cookie('remBox'))
                $('#rememberChkBox').attr('checked', $.cookie('remBox'));

        }

    </script>
{% endblock %}
