{% extends 'registration/login_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'plugins/toastr/toastr.css' %}">
    {% comment %} <style>
        body {
            font-family: 'Mukta', sans-serif;
            height: 100vh;
            min-height: 550px;
            background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
            overflow-y: hidden;
        }

        a {
            text-decoration: none;
            color: #444444;
        }

        .login-reg-panel {
            position: relative;
            top: 262px;
            transform: translateY(-50%);
            text-align: center;
            width: 70%;
            right: 0;
            left: 0;
            margin: auto;
            height: 400px;
        {#background-color: rgba(236, 48, 20, 0.9);#}{#  background: linear-gradient(135deg, orange 60%, cyan);#} background: linear-gradient(45deg, red, blue);

        }

        .white-panel {
            background-color: rgba(255, 255, 255, 1);
            height: 500px;
            position: absolute;
            top: -50px;
            width: 50%;
            right: calc(50% - 50px);
            transition: .3s ease-in-out;
            z-index: 0;
            box-shadow: 0 0 15px 9px #00000096;
        }

        .login-reg-panel input[type="radio"] {
            position: relative;
            display: none;
        }

        .login-reg-panel {
            color: #B8B8B8;
        }

        .login-reg-panel #label-login,
        .login-reg-panel #label-register {
            border: 1px solid #9E9E9E;
            padding: 5px 5px;
            width: 150px;
            display: block;
            text-align: center;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 600;
            font-size: 18px;
        }

        .login-info-box {
            width: 30%;
            padding: 0 50px;
            top: 20%;
            left: 0;
            position: absolute;
            text-align: left;
        }

        .register-info-box {
            width: 30%;
            padding: 0 50px;
            top: 20%;
            right: 0;
            position: absolute;
            text-align: left;

        }

        .right-log {
            right: 50px !important;
        }

        .login-show,
        .register-show {
            z-index: 1;
            display: none;
            opacity: 0;
            transition: 0.3s ease-in-out;
            color: #242424;
            text-align: left;
            padding: 50px;
        }

        .show-log-panel {
            display: block;
            opacity: 0.9;
        }

        .login-show input[type="text"], .login-show input[type="password"] {
            width: 100%;
            display: block;
            margin: 20px 0;
            padding: 15px;
            border: 1px solid #b5b5b5;
            outline: none;
        }

        .login-show input[type="button"] {
            max-width: 150px;
            width: 100%;
            background: #444444;
            color: #f9f9f9;
            border: none;
            padding: 10px;
            text-transform: uppercase;
            border-radius: 2px;
            float: right;
            cursor: pointer;
        }

        .login-show a {
            display: inline-block;
            padding: 10px 0;
        }

        .register-show input[type="text"], .register-show input[type="password"] {
            width: 100%;
            display: block;
            margin: 20px 0;
            padding: 15px;
            border: 1px solid #b5b5b5;
            outline: none;
        }

        .register-show input[type="button"] {
            max-width: 150px;
            width: 100%;
            background: #444444;
            color: #f9f9f9;
            border: none;
            padding: 10px;
            text-transform: uppercase;
            border-radius: 2px;
            float: right;
            cursor: pointer;
        }

        .credit {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #3B3B25;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            z-index: 99;
        }

        a {
            text-decoration: none;
            color: #2c7715;
        }


    </style>{% endcomment %}



    <style>
        .wrap {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .button {
            min-width: 150px;
            min-height: 10px;
            font-family: 'NotoNaskhB';
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-weight: 700;
            color: #313133;
            background: #4FD1C5;
            background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
            border: none;
            border-radius: 1000px;
            box-shadow: 4px 4px 8px rgba(79, 209, 197, .64);
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            outline: none;
            position: relative;
            padding: 10px;
        }

        button::before {
            content: '';
            border-radius: 1000px;
            min-width: calc(150px + 12px);
            min-height: calc(40px + 12px);
            border: 6px solid #00FFCB;
            box-shadow: 0 0 10px rgba(0, 255, 203, .64);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s ease-in-out 0s;
        }

        .button:hover, .button:focus {
            color: #313133;
            transform: translateY(-6px);
        }

        button:hover::before, button:focus::before {
            opacity: 1;
        }

        button::after {
            content: '';
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 6px solid #00FFCB;
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: ring 1.5s infinite;
        }

        button:hover::after, button:focus::after {
            animation: none;
            display: none;
        }

        @keyframes ring {
            0% {
                width: 30px;
                height: 30px;
                opacity: 1;
            }
            100% {
                width: 200px;
                height: 200px;
                opacity: 0;
            }
        }
    </style>

{% endblock %}
{% block content %}

    {#    <div class="row justify-content-center text-right">#}
    {#        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">#}
    {#            <!-- Social login form-->#}
    {#            <div class="card my-5">#}
    {#                <div class="card-body p-3 text-center">#}
    {#                    <div class="h5 font-weight-light mb-1">ورود به بیت رایت</div>#}
    {#                </div>#}
    {#                <hr class="my-0">#}
    {##}
    {#                <div class="card-body p-5">#}
    {#                    <!-- Login form-->#}
    {#                    <form method="post" action="{% url 'login' %}">#}
    {#                        {% csrf_token %}#}
    {#                        <div class="formsix-pos">#}
    {#                            {% if form.username.errors %}#}
    {#                                {% for error in form.username.errors %}#}
    {#                                    <p style="color:#a94442;text-align: justify;">{{ error }}</p>#}
    {#                                {% endfor %}#}
    {#                            {% endif %}#}
    {#                            <div class="form-group {% if form.username.errors %}has-error{% endif %}">#}
    {#                                <input type="text" placeholder="نام کاربری" name="username" class="form-control"#}
    {#                                       id="id_username">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="formsix-e">#}
    {#                            {% if form.password.errors %}#}
    {#                                {% for error in form.password.errors %}#}
    {#                                    <p style="color:#a94442;text-align: justify;">{{ error }}</p>#}
    {#                                {% endfor %}#}
    {#                            {% endif %}#}
    {#                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">#}
    {#                                <input type="password" placeholder="رمز عبور" name="password" class="form-control"#}
    {#                                       id="id_password"/>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="fromsix-pos">#}
    {#                            <div class="row align-items-center">#}
    {##}
    {#                                <div class="col-md-4">#}
    {#                                    <button type="submit" class="btn btn-success col-md-12">ورود</button>#}
    {#                                </div>#}
    {#                                <div class="col-md-8">#}
    {#                                    <a class="btn btn-info col-md-12" href="#"><b>رمز عبور خود را فراموش کردم!</b></a>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </form>#}
    {#                </div>#}
    {#                <hr class="my-0">#}
    {#                <div class="card-body px-5 py-4">#}
    {#                    <div class="small text-center">#}
    {#                        حساب کاربری ندارید؟#}
    {#                        <a href="auth-register-social.html">ایجاد حساب کاربری</a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {% comment %}  <div class="login-reg-panel">
        <div class="login-info-box">
            <h2>Have an account?</h2>
            <p>Lorem ipsum dolor sit amet</p>
            <label id="label-register" for="log-reg-show">Login</label>
            <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
        </div>

        <div class="register-info-box">
            <h2>Don't have an account?</h2>
            <p>Lorem ipsum dolor sit amet</p>
            <label id="label-login" for="log-login-show">Register</label>
            <input type="radio" name="active-log-panel" id="log-login-show">
        </div>

        <div class="white-panel">
            <div class="login-show">
                <h2>LOGIN</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="formsix-pos">
                        {% if form.username.errors %}
                            {% for error in form.username.errors %}
                                <p style="color:#a94442;text-align: justify;">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                            <input type="text" placeholder="نام کاربری" name="username" class="form-control"
                                   id="id_username">
                        </div>
                    </div>
                    <div class="formsix-e">
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                <p style="color:#a94442;text-align: justify;">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                            <input type="password" placeholder="رمز عبور" name="password" class="form-control"
                                   id="id_password"/>
                        </div>
                    </div>
                    <div class="fromsix-pos">
                        <div class="row align-items-center">

                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success col-md-12">ورود</button>
                            </div>
                            <div class="col-md-8">
                                <a class="btn btn-info col-md-12" href="#"><b>رمز عبور خود را فراموش کردم!</b></a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="register-show">
                <h2>REGISTER</h2>
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <input type="button" value="Register">
            </div>
        </div>
    </div>{% endcomment %}
    <div class="container" style="direction: rtl">
        <section id="formHolder">

            <div class="row">

                <!-- Brand Box -->
                <div class="col-sm-6 brand">
                    <div class="heading">
                        {#                        <h2>Marina</h2>#}
                        <div class="form-group">
                            <img width="50%" src="{% static 'bw/assets/img/logo_original.png' %}" alt="">
                        </div>

                        <p style="font-family: NotoNaskh">بیت رایت - فراتر از رایت</p>
                    </div>

                    <div class="success-msg">
                        <p>با سپاس! حال شما یک بیت رایتی هستید!</p>
                        <a href="/" class="profile">مای بیت رایت</a>
                    </div>
                </div>

                <!-- Form Box -->
                <div class="col-sm-6 form">

                    <!-- Login Form -->
                    <div class="login form-peice {% if 'signup' in request.GET %} switched{% endif %}">
                        <form class="login-form" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username">نام کاربری</label>
                                <input autocomplete="off" type="username" name="username" id="username" required>
                            </div>

                            <div class="form-group">
                                <label for="password">رمزعبور</label>
                                <input autocomplete="off" type="password" name="password" id="password" required>
                            </div>

                            <div class="CTA">
                                <div class="wrap">
                                    <button class="button">ورود</button>
                                </div>

                                {#                                <input type="submit" value="ورود">#}
                                <div style="margin-top: 120px">
                                    <a href="#" class="switch">می خواهم بیت رایتی شوم!</a>

                                </div>
                            </div>
                        </form>
                    </div><!-- End Login Form -->


                    <!-- Signup Form -->
                    <div class="signup form-peice {% if 'login' in request.GET %} switched{% endif %}">
                        <form class="signup-form" action="#" method="post">

                            <div class="form-group">
                                <label for="name">نام نام خانوادگی</label>
                                <input type="text" name="username" id="name" class="name">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="email">آدرس الکترونیکی</label>
                                <input type="email" name="emailAdress" id="email" class="email">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="phone">شماره تماس - <small>اختیاری</small></label>
                                <input type="text" name="phone" id="phone">
                            </div>

                            <div class="form-group">
                                <label for="password">رمز عبور</label>
                                <input type="password" name="password" id="password" class="pass">
                                <span class="error"></span>
                            </div>

                            <div class="form-group">
                                <label for="passwordCon">صحت رمز عبور</label>
                                <input type="password" name="passwordCon" id="passwordCon" class="passConfirm">
                                <span class="error"></span>
                            </div>

                            <div class="CTA">
                                <input type="submit" value="ثبت نام" id="submit">
                                <a href="#" class="switch">من بیت رایتی هستم!</a>
                            </div>
                        </form>
                    </div><!-- End Signup Form -->
                </div>
            </div>

        </section>
        <footer>
        </footer>

    </div>

{% endblock content %}

{% block custom_js %}
    <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
 {% comment %}   <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            {% if form.username.errors %}
                {% for error in form.password.errors %}
                    alert({{ error }})
                    toastr.info('{{ error }}!');
                {% endfor %}
            {% endif %}

        });
    </script>
    <script>

        $(document).ready(function () {
            $('.login-info-box').fadeOut();
            $('.login-show').addClass('show-log-panel');
        });


        $('.login-reg-panel input[type="radio"]').on('change', function () {
            if ($('#log-login-show').is(':checked')) {
                $('.register-info-box').fadeOut();
                $('.login-info-box').fadeIn();

                $('.white-panel').addClass('right-log');
                $('.register-show').addClass('show-log-panel');
                $('.login-show').removeClass('show-log-panel');

            } else if ($('#log-reg-show').is(':checked')) {
                $('.register-info-box').fadeIn();
                $('.login-info-box').fadeOut();

                $('.white-panel').removeClass('right-log');

                $('.login-show').addClass('show-log-panel');
                $('.register-show').removeClass('show-log-panel');
            }
        });


    </script>
{% endcomment %}


    <script>
        /*global $, document, window, setTimeout, navigator, console, location*/
        $(document).ready(function () {

            'use strict';

            var usernameError = true,
                emailError = true,
                passwordError = true,
                passConfirm = true;

            // Detect browser for css purpose
            if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
                $('.form form label').addClass('fontSwitch');
            }

            // Label effect
            $('input').focus(function () {

                $(this).siblings('label').addClass('active');
            });

            // Form validation
            $('input').blur(function () {

                // User Name
                if ($(this).hasClass('name')) {
                    if ($(this).val().length === 0) {
                        $(this).siblings('span.error').text('Please type your full name').fadeIn().parent('.form-group').addClass('hasError');
                        usernameError = true;
                    } else if ($(this).val().length > 1 && $(this).val().length <= 6) {
                        $(this).siblings('span.error').text('Please type at least 6 characters').fadeIn().parent('.form-group').addClass('hasError');
                        usernameError = true;
                    } else {
                        $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                        usernameError = false;
                    }
                }
                // Email
                if ($(this).hasClass('email')) {
                    if ($(this).val().length == '') {
                        $(this).siblings('span.error').text('Please type your email address').fadeIn().parent('.form-group').addClass('hasError');
                        emailError = true;
                    } else {
                        $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                        emailError = false;
                    }
                }

                // PassWord
                if ($(this).hasClass('pass')) {
                    if ($(this).val().length < 8) {
                        $(this).siblings('span.error').text('Please type at least 8 charcters').fadeIn().parent('.form-group').addClass('hasError');
                        passwordError = true;
                    } else {
                        $(this).siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                        passwordError = false;
                    }
                }

                // PassWord confirmation
                if ($('.pass').val() !== $('.passConfirm').val()) {
                    $('.passConfirm').siblings('.error').text('Passwords don\'t match').fadeIn().parent('.form-group').addClass('hasError');
                    passConfirm = false;
                } else {
                    $('.passConfirm').siblings('.error').text('').fadeOut().parent('.form-group').removeClass('hasError');
                    passConfirm = false;
                }

                // label effect
                if ($(this).val().length > 0) {
                    $(this).siblings('label').addClass('active');
                } else {
                    $(this).siblings('label').removeClass('active');
                }
            });


            // form switch
            $('a.switch').click(function (e) {
                $(this).toggleClass('active');
                e.preventDefault();

                if ($('a.switch').hasClass('active')) {
                    $(this).parents('.form-peice').addClass('switched').siblings('.form-peice').removeClass('switched');
                } else {
                    $(this).parents('.form-peice').removeClass('switched').siblings('.form-peice').addClass('switched');
                }
            });


            // Form submit
            $('form.signup-form').submit(function (event) {
                event.preventDefault();

                if (usernameError == true || emailError == true || passwordError == true || passConfirm == true) {
                    $('.name, .email, .pass, .passConfirm').blur();
                } else {
                    $('.signup, .login').addClass('switched');

                    setTimeout(function () {
                        $('.signup, .login').hide();
                    }, 700);
                    setTimeout(function () {
                        $('.brand').addClass('active');
                    }, 300);
                    setTimeout(function () {
                        $('.heading').addClass('active');
                    }, 600);
                    setTimeout(function () {
                        $('.success-msg p').addClass('active');
                    }, 900);
                    setTimeout(function () {
                        $('.success-msg a').addClass('active');
                    }, 1050);
                    setTimeout(function () {
                        $('.form').hide();
                    }, 700);
                }
            });

            // Reload page
            $('a.profile').on('click', function () {
                location.reload(true);
            });


        });

    </script>
{% endblock %}
