
{% extends 'registration/account_settings/base.html' %}
{% load crispy_forms_tags %}

{% block page_header %}
    تغییر رمز عبور
{% endblock %}
    
{% block page_content %}
<div class="col-lg-8 mx-auto">
       <div class="card mb-4">
        <div class="card-header">تغییر رمز عبور</div>
        <div class="card-body">
            <form method="post"> {% csrf_token %}
                <!-- Form Group (current password)-->
                <div class="form-group">
                    {{form.old_password|as_crispy_field}}
                </div>
                <!-- Form Group (new password)-->
                <div class="form-group">
                    {{form.new_password1|as_crispy_field}}
                </div>
                <!-- Form Group (confirm password)-->
                <div class="form-group">
                    {{form.new_password2|as_crispy_field}}
                </div>
                <button class="btn btn-primary" type="submit">تغییر رمز</button>
            </form>
        </div>
    </div>
</div>
 
{% endblock  %}