  <div class="author_box author-info has_avatar">
    <div class="author-avatar">
      <a
        class="author-link"
        href="http://demo.themeportal.ir/writing/?author=1"
        rel="author"
      >
        <img
          alt=""
          src="http://0.gravatar.com/avatar/c9051b523b1c4abf5934535e56339b0c?s=80&amp;d=mm&amp;r=g"
          srcset="
            http://0.gravatar.com/avatar/c9051b523b1c4abf5934535e56339b0c?s=160&amp;d=mm&amp;r=g 2x
          "
          class="avatar avatar-80 photo"
          height="80"
          width="80"
          loading="lazy"
        />
      </a>
    </div>
    <!-- .author-avatar -->

    <div class="author-description author_text">
      <h3 class="author-title">
        <a
          class="author-link"
          href="http://demo.themeportal.ir/writing/?author=1"
          rel="author"
        >
          رضا میری
        </a>
      </h3>

      <p class="author-bio">
        محمد آذری دانشجوی مترجمی زبان و علاقمند به حوزه تکنولوژی و ارتباطات هستم
        .
      </p>
      <!-- .author-bio -->
    </div>
    <!-- .author-description -->
  </div>