  <section id="comments" class="comments-area">
    <h3 class="comments-title title">
      4 دیدگاه
      <span class="screen-reader-text">روشن هفته گل با مردم هلند</span>
    </h3>

    <ul class="media-list comments_list col-md-12">
      <li
        class="comment even thread-even depth-1 media the_comment"
        id="comment-3"
      >
        <div class="pull-left commenter">
          <img
            alt=""
            src="http://0.gravatar.com/avatar/6a4af7c94fd1bc088a599e7c11c3afa1?s=50&amp;d=mm&amp;r=g"
            srcset="
              http://0.gravatar.com/avatar/6a4af7c94fd1bc088a599e7c11c3afa1?s=100&amp;d=mm&amp;r=g 2x
            "
            class="avatar avatar-50 photo"
            height="50"
            width="50"
            loading="lazy"
          />
        </div>
        <!-- pull-left commenter -->
        <div class="media-body comment_body">
          <div class="comment_content_wrapper">
            <div class="media-heading clearfix">
              <b class="commenter_name title">رضا</b>
              <div class="comment_info">
                <a
                  class="comment_time"
                  href="http://demo.themeportal.ir/writing/?p=23#comment-3"
                  ><time pubdate="" datetime="1394/3/2 11:42:47"
                    >2 خرداد, 1394 at 11:42 ق.ظ</time
                  ></a
                >
                <a
                  rel="nofollow"
                  class="comment-reply-link"
                  href="http://demo.themeportal.ir/writing/?p=23&amp;replytocom=3#respond"
                  data-commentid="3"
                  data-postid="23"
                  data-belowelement="comment-3"
                  data-respondelement="respond"
                  data-replyto="پاسخ به رضا"
                  aria-label="پاسخ به رضا"
                  >- پاسخ</a
                >
              </div>
              <!-- comment_info -->
            </div>
            <!-- end media-heading -->
            <p>
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
              استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
              در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
              نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </p>
          </div>
          <!-- end comment_content_wrapper -->
        </div>
        <ul class="children">
          <li class="comment odd alt depth-2 media the_comment" id="comment-5">
            <div class="pull-left commenter">
              <img
                alt=""
                src="http://0.gravatar.com/avatar/6a4af7c94fd1bc088a599e7c11c3afa1?s=50&amp;d=mm&amp;r=g"
                srcset="
                  http://0.gravatar.com/avatar/6a4af7c94fd1bc088a599e7c11c3afa1?s=100&amp;d=mm&amp;r=g 2x
                "
                class="avatar avatar-50 photo"
                height="50"
                width="50"
                loading="lazy"
              />
            </div>
            <!-- pull-left commenter -->
            <div class="media-body comment_body">
              <div class="comment_content_wrapper">
                <div class="media-heading clearfix">
                  <b class="commenter_name title">احمد نیازی</b>
                  <div class="comment_info">
                    <a
                      class="comment_time"
                      href="http://demo.themeportal.ir/writing/?p=23#comment-5"
                      ><time pubdate="" datetime="1394/3/2 11:43:14"
                        >2 خرداد, 1394 at 11:43 ق.ظ</time
                      ></a
                    >
                    <a
                      rel="nofollow"
                      class="comment-reply-link"
                      href="http://demo.themeportal.ir/writing/?p=23&amp;replytocom=5#respond"
                      data-commentid="5"
                      data-postid="23"
                      data-belowelement="comment-5"
                      data-respondelement="respond"
                      data-replyto="پاسخ به احمد نیازی"
                      aria-label="پاسخ به احمد نیازی"
                      >- پاسخ</a
                    >
                  </div>
                  <!-- comment_info -->
                </div>
                <!-- end media-heading -->
                <p>
                  طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر
                  کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده
                  استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه
                  فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی،
                  نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند.
                </p>
              </div>
              <!-- end comment_content_wrapper -->
            </div>
          </li>
          <!-- #comment-## -->
        </ul>
        <!-- .children -->
      </li>
      <!-- #comment-## -->
      <li
        class="comment even thread-odd thread-alt depth-1 media the_comment"
        id="comment-4"
      >
        <div class="pull-left commenter">
          <img
            alt=""
            src="http://0.gravatar.com/avatar/6a4af7c94fd1bc088a599e7c11c3afa1?s=50&amp;d=mm&amp;r=g"
            srcset="
              http://0.gravatar.com/avatar/6a4af7c94fd1bc088a599e7c11c3afa1?s=100&amp;d=mm&amp;r=g 2x
            "
            class="avatar avatar-50 photo"
            height="50"
            width="50"
            loading="lazy"
          />
        </div>
        <!-- pull-left commenter -->
        <div class="media-body comment_body">
          <div class="comment_content_wrapper">
            <div class="media-heading clearfix">
              <b class="commenter_name title">احمد نیازی</b>
              <div class="comment_info">
                <a
                  class="comment_time"
                  href="http://demo.themeportal.ir/writing/?p=23#comment-4"
                  ><time pubdate="" datetime="1394/3/2 11:43:00"
                    >2 خرداد, 1394 at 11:43 ق.ظ</time
                  ></a
                >
                <a
                  rel="nofollow"
                  class="comment-reply-link"
                  href="http://demo.themeportal.ir/writing/?p=23&amp;replytocom=4#respond"
                  data-commentid="4"
                  data-postid="23"
                  data-belowelement="comment-4"
                  data-respondelement="respond"
                  data-replyto="پاسخ به احمد نیازی"
                  aria-label="پاسخ به احمد نیازی"
                  >- پاسخ</a
                >
              </div>
              <!-- comment_info -->
            </div>
            <!-- end media-heading -->
            <p>
              تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
              معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و
              بی‌معنی استفاده می‌کنند.
            </p>
          </div>
          <!-- end comment_content_wrapper -->
        </div>
      </li>
      <!-- #comment-## -->
      <li
        class="comment odd alt thread-even depth-1 media the_comment"
        id="comment-15"
      >
        <a
          rel="nofollow"
          class="pull-left commenter"
          href="http://arazjavaher.com"
        >
          <img
            alt=""
            src="http://2.gravatar.com/avatar/5ced7e991860f21d8c6a06b67ccff02f?s=50&amp;d=mm&amp;r=g"
            srcset="
              http://2.gravatar.com/avatar/5ced7e991860f21d8c6a06b67ccff02f?s=100&amp;d=mm&amp;r=g 2x
            "
            class="avatar avatar-50 photo"
            height="50"
            width="50"
            loading="lazy"
          />
        </a>
        <div class="media-body comment_body">
          <div class="comment_content_wrapper">
            <div class="media-heading clearfix">
              <b class="commenter_name title"
                ><a
                  href="http://arazjavaher.com"
                  rel="external nofollow ugc"
                  class="url"
                  >amirali</a
                ></b
              >
              <div class="comment_info">
                <a
                  class="comment_time"
                  href="http://demo.themeportal.ir/writing/?p=23#comment-15"
                  ><time pubdate="" datetime="1398/10/2 2:29:01"
                    >2 دی, 1398 at 2:29 ق.ظ</time
                  ></a
                >
                <a
                  rel="nofollow"
                  class="comment-reply-link"
                  href="http://demo.themeportal.ir/writing/?p=23&amp;replytocom=15#respond"
                  data-commentid="15"
                  data-postid="23"
                  data-belowelement="comment-15"
                  data-respondelement="respond"
                  data-replyto="پاسخ به amirali"
                  aria-label="پاسخ به amirali"
                  >- پاسخ</a
                >
              </div>
              <!-- comment_info -->
            </div>
            <!-- end media-heading -->
            <p>سایت خوبی دارین ممنون</p>
          </div>
          <!-- end comment_content_wrapper -->
        </div>
      </li>
      <!-- #comment-## -->
    </ul>

    <div id="respond" class="comment-respond">
      <h3 id="reply-title" class="comment-reply-title">
        دیدگاه خود را بنویسید:
        <small
          ><a
            rel="nofollow"
            id="cancel-comment-reply-link"
            href="/writing/?p=23#respond"
            style="display: none"
            >لغو دیدگاه</a
          ></small
        >
      </h3>
      <form
        action="http://demo.themeportal.ir/writing/wp-comments-post.php"
        method="post"
        id="commentform"
        class="comment-form"
        novalidate=""
      >
        <p class="comment-notes">آدرس ایمیل شما نمایش داده نخواهد شد.</p>
        <div class="row">
          <div class="comment_textarea clearfix col-md-12">
            <textarea
              id="comment"
              name="comment"
              aria-required="true"
              class="col-md-12"
              rows="7"
            ></textarea>
          </div>
          <div class="col-md-4">
            <input
              id="author"
              name="author"
              class="form-control col-md-12"
              type="text"
              placeholder="نام"
            />
          </div>
          <div class="col-md-4">
            <input
              id="email"
              name="email"
              class="form-control col-md-12"
              type="text"
              placeholder="ایمیل"
            />
          </div>
          <div class="col-md-4">
            <input
              id="url"
              name="url"
              class="form-control col-md-12"
              type="text"
              placeholder="وبسایت"
            />
          </div>
        </div>
        <p class="comment-form-cookies-consent">
          <input
            id="wp-comment-cookies-consent"
            name="wp-comment-cookies-consent"
            type="checkbox"
            value="yes"
          />
          <label for="wp-comment-cookies-consent"
            >ذخیره نام، ایمیل و وبسایت من در مرورگر برای زمانی که دوباره دیدگاهی
            می‌نویسم.</label
          >
        </p>
        <p class="form-submit">
          <input
            name="submit"
            type="submit"
            id="submit"
            class="submit"
            value="انتشار دیدگاه"
          />
          <input
            type="hidden"
            name="comment_post_ID"
            value="23"
            id="comment_post_ID"
          />
          <input
            type="hidden"
            name="comment_parent"
            id="comment_parent"
            value="0"
          />
        </p>
      </form>
    </div>
    <!-- #respond -->
  </section>