{% extends 'base.html' %} {% load static %} {% block content %} {% block article_featured %}{% endblock %} {% block header %}{% endblock header %} {%block header_list %}{% endblock %}

<div class="row">
  <div class="col-lg-7 col-xl-8">
    {% for article in object_list %}
    <div class="card post-preview post-preview-featured text-right lift mb-5" href="#!">
      <div class="row no-gutters">
        <div class="col-lg-3">
          {% if article.thumbnail %}
          <div
            class="post-preview-featured-img"
            style="background-image: url('{{article.thumbnail.url}}')"
          ></div>
          {% endif %}
        </div>
        <div class="{% if article.thumbnail %} col-lg-9 {% else %}col-lg-12{% endif %}">
          <div class="card-body">
            <div class="py-7">
              <a href="{% url 'blog:detail' article.slug %}"
                ><h4 class="card-title">{{article.title}}</h4></a
              >
              <div style="font-size: initial" class="card-text">
                {% autoescape off %}
                    {{ article.description|truncatewords:20 }}
                {% endautoescape %}  
              </div>
              {% include 'blog/meta-tags.html' %}
            </div>
            <hr />
            <div class="post-preview-meta">
              <img
                class="post-preview-meta-img"
                src="{% static 'bw/assets/img/illustrations/profiles/profile-1.png' %} "
              />
              <div class="post-preview-meta-details">
                <div class="post-preview-meta-details-name">
                  <a href="{% url 'blog:author' article.author %}"
                    >{{article.author.get_full_name}}</a
                  >
                </div>
                <div class="post-preview-meta-details-date">
                  {{article.jpublished_at}}
                </div>
              </div>
              <div
                class="post-preview-meta-details"
                style="margin-right: auto; padding: 8px"
              >
                <div class="post-preview-meta-details-name">
                  <a href=""><li class="fa fa-heart fa-1x"></li></a>
                  <a href=""><li class="fa fa-bookmark fa-1x"></li></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <hr class="my-4 d-lg-none" />
  </div>
  
    <div class="col-lg-5 col-xl-4">
      <div class="nav-sticky">

    <div class="card">
      <div class="card-body">
        <h6>Opinion</h6>
        <hr />
        <div class="d-flex mb-4">
          <div class="avatar avatar-lg">
            <img
              class="avatar-img"
              src="assets/img/illustrations/profiles/profile-1.png"
            />
          </div>
          <div class="ml-3">
            <a class="text-dark" href="#!"
              ><h6 class="mb-1">
                Bootstrap is the best CSS framework, hands down
              </h6></a
            >
            <div class="small text-gray-500">
              by <a class="text-gray-500" href="#!">Valerie Luna</a>
            </div>
          </div>
        </div>
        <div class="d-flex mb-4">
          <div class="avatar avatar-lg">
            <img
              class="avatar-img"
              src="assets/img/illustrations/profiles/profile-2.png"
            />
          </div>
          <div class="ml-3">
            <a class="text-dark" href="#!"
              ><h6 class="mb-1">
                Bootstrap is the best CSS framework, hands down
              </h6></a
            >
            <div class="small text-gray-500">
              by <a class="text-gray-500" href="#!">Ewan Rogers</a>
            </div>
          </div>
        </div>
        <div class="d-flex mb-4">
          <div class="avatar avatar-lg">
            <img
              class="avatar-img"
              src="assets/img/illustrations/profiles/profile-3.png"
            />
          </div>
          <div class="ml-3">
            <a class="text-dark" href="#!"
              ><h6 class="mb-1">
                Bootstrap is the best CSS framework, hands down
              </h6></a
            >
            <div class="small text-gray-500">
              by <a class="text-gray-500" href="#!">Alicia Allen</a>
            </div>
          </div>
        </div>
        <div class="d-flex mb-4">
          <div class="avatar avatar-lg">
            <img
              class="avatar-img"
              src="assets/img/illustrations/profiles/profile-4.png"
            />
          </div>
          <div class="ml-3">
            <a class="text-dark" href="#!"
              ><h6 class="mb-1">
                Bootstrap is the best CSS framework, hands down
              </h6></a
            >
            <div class="small text-gray-500">
              by <a class="text-gray-500" href="#!">Kolby Brock</a>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="avatar avatar-lg">
            <img
              class="avatar-img"
              src="assets/img/illustrations/profiles/profile-5.png"
            />
          </div>
          <div class="ml-3">
            <a class="text-dark" href="#!"
              ><h6 class="mb-1">
                Bootstrap is the best CSS framework, hands down
              </h6></a
            >
            <div class="small text-gray-500">
              by <a class="text-gray-500" href="#!">William Cole</a>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </div>  
  </div>

</div>

{% if is_paginated %}
<nav class="navigation pagination" role="navigation" aria-label="نوشته‌ها">
  {% if page_obj.has_previous %}
  <a
    href="{% block previous_page_url %}{% endblock %}"
    class="btn btn-primary float-right ml-3"
    >پست های جدید &rarr;</a
  >
  {% endif %} {% if page_obj.has_next %}
  <a
    href="{% block next_page_url %}{% endblock  %}"
    class="btn btn-primary float-left"
    >پست های قدیمی &larr;</a
  >
  {% endif %}
</nav>
{% endif %} 
{% endblock %}
