{% extends 'base.html' %} {% load static %} {% load base_tags %} {% block content %}

    {% featured_articles %}


<div class="d-flex align-items-center justify-content-between">
  <h6 class="mb-0">مقاله منتخب سایت</h6>
  <div>
    <a class="text-arrow-icon small" href="#!"
      >سایر موارد<svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-left"
      >
        <line x1="5" y1="12" x2="19" y2="12"></line>
        <polyline points="12 5 19 12 12 19"></polyline></svg
    ></a>
  </div>
</div>
<hr class="mb-4" />
<div class="col-xxl-4 col-xl-12 mb-4">
  <div class="card h-100">
    <div
      class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4"
    >
      <div class="row">
        <main class="main_content col-md-12">
        {% block header %}{% endblock header %}      
          <div
            class="blog_posts_wrapper blog_posts_list clearfix list_blog_style"
          >
            {% for article in object_list %}

            <article>
              <div class="blog_post clearfix">
                <div class="posts_list_wrapper clearfix">
                  <div class="post_thumbnail_wrapper">
                    <div class="blog_post_banner blog_post_image">
                      <a
                        class="post-thumbnail"
                        href="{% url 'blog:detail' article.slug %}"
                        aria-hidden="true"
                      >
                        <img
                          style=""
                          width="267"
                          height="205"
                          src="{{article.thumbnail.url}}"
                          class="attachment-list_blog size-list_blog wp-post-image"
                          alt=""
                          loading="lazy"
                          sizes="(min-width: 768px) 267px, (min-width: 500px) 195px, 100vw"
                        />
                      </a>
                    </div>
                    <!-- end blog_post_banner-->
                  </div>
                  <!-- end post_thumbnail_wrapper -->
                  <div class="post_info_wrapper">
                    <!-- use this wrapper in list style only to group all info far from thumbnail wrapper -->
                    <div class="blog_post_title">
                      <h2 class="entry-title title post_title">
                        <a
                          href="{% url 'blog:detail' article.slug %}"
                          rel="bookmark"
                          >{{article.title}}</a
                        >
                      </h2>
                    </div>
                    <!-- end blog_post_title -->
                    {% include 'blog/article_meta_data.html' %}
                    <div
                      class="entry-content blog_post_text blog_post_description"
                    >
                      <!-- Start entry-content div -->
                      <p>{{article.description|truncatechars:300|safe}}</p>
                    </div>
                    <!-- end entry-content div -->

                    <div class="blog_post_control clearfix">
                      <div class="blog_post_control_item blog_post_readmore">
                        <a
                          href="{% url 'blog:detail' article.slug %}"
                          class="read_more_link"
                          >بیشتر بخوانید</a
                        >
                      </div>
                      <!-- end .blog_post_readmore -->       
                    </div>
                    <!-- end blog_post_control -->
                  </div>
                  <!-- .post_info_wrapper close post_info_wrapper in cas of list style-->
                </div>
                <!-- .posts_list_wrapper -->
              </div>
              <!-- end blog_post -->
            </article>
            {% endfor %}
          </div>
          <!-- .blog_posts_wrapper -->


      {% if is_paginated %}
      <nav class="navigation pagination" role="navigation" aria-label="نوشته‌ها">
        {% if page_obj.has_previous %}
        <a
          href="{% block previous_page_url %}{% endblock %}"
          class="btn btn-primary float-right ml-3"
          >پست های جدید &rarr;</a
        >
        {% endif %} {% if page_obj.has_next %}
        <a
          href="{% block next_page_url %}{% endblock  %}"
          class="btn btn-primary float-left"
          >پست های قدیمی &larr;</a
        >
        {% endif %}
      </nav>
      {% endif %}

        <!-- .main_content -->
      </div>
    </div>
  </div>
</div>
{% endblock content %}
