{% load static %}
<li class="nav-item dropdown no-caret mr-3 mr-lg-0 dropdown-user">
    <a class="btn btn-icon btn-transparent-dark dropdown-toggle" id="navbarDropdownUserImage" href="javascript:void(0);" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-fluid" src="{% static 'bw/assets/img/illustrations/profiles/profile-1.png' %}">
    </a>
    <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
        <h6 class="dropdown-header d-flex align-items-center">
            <img class="dropdown-user-img" src="{% static 'bw/assets/img/illustrations/profiles/profile-1.png' %} ">
            <div class="dropdown-user-details">
                <div class="dropdown-user-details-name">{{user.get_full_name}}</div>
                <div style="direction:ltr" class="dropdown-user-details-email">@{{user.username}}</div>
            </div>
        </h6>        
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'account:profile' %}">
            <div class="dropdown-item-icon"><i class="fa fa-settings"></i></div>
            تنظیمات حساب کاربری
        </a>     
        {% if user.is_superuser or user.is_author %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account:home' %}">
                <div class="dropdown-item-icon"><i data-feather="list"></i></div>
                لیست پست های من
            </a>        
            <a class="dropdown-item" href="{% url 'account:article-create' %}">
                <div class="dropdown-item-icon"><i class="fa fa-pen"></i></div>
                پست جدید
            </a>   
            <a class="dropdown-item" href="#!">
                <div class="dropdown-item-icon"><i class="fa fa-retweet"></i></div>
                پیش نویس های من
            </a>
            <a class="dropdown-item" href="#!">
                <div class="dropdown-item-icon"><i class="fa fa-heart"></i></div>
                پست های مورد علاقه
            </a>      
            <a class="dropdown-item" href="#!">
                <div class="dropdown-item-icon"><i class="fa fa-bookmark"></i></div>
                پست های ذخیره شده
            </a>        
        {% endif %}   
 
        <a class="dropdown-item" href="{% url 'account:logout' %}">
            <div class="dropdown-item-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg></div>
            خروج
        </a>
    </div>
</li>